.pimage{
    height: 200px;
}
button a{
    text-decoration: none;
    color: white;
}




mat-card{
    background-color: white;
}
#container{
  margin-left: 30rem;
}





@media screen and (max-width: 768px) {
    .pimage {
      height: 150px;
    }
  
    .col-md-2 {
      margin-bottom: 10px;
    }
    img{
        width: 100%;
    }
  }
  




/* ------------------------------- */


