


  /* Add this CSS to your component's CSS file or a global stylesheet */

.example-button-row {
  display: flex; 
  align-items: center;
  
  margin-left: 30rem;
  margin-top: -2rem;
}

.button {
  margin: 0 5px; /* Add some margin between the buttons */
}
.count{
  text-align: center;
}

img{
  width: 200px;
}
.container-with-space {
  margin-left: 300px;
  border: 2px solid black;
  /* margin-right: 250px; */
  width: 80%;
}
.content {
  padding: 20px;
  width: 50%;
}

.content .customer {
  border: 0.1px solid rgb(187, 184, 184);
  border-radius: 4px;
  padding: 10px; 
  line-height: 0.6rem;
  width: 100%;
}
.content .customer p{
  font-size: 14px;
  line-height: 1.5rem;
}
.customer p{
  font-size: 10px;
}

.col-md-4{
  width: 30%;
  border: 2px solid black;
}


@media screen and (max-width: 768px) {
  
.example-button-row {
  display: flex; 
  align-items: center;
  margin-left: 0;
  margin-top: -2rem;
}
}
