<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>My Shopping Cart</mat-card-title>
    
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let item of cartItems">
        <div class="cart-item-details-container">
          <div class="cart-item mt-4">
            <img [src]="item.image" alt="{{ item.image }}" class="cart-item-image mt-3">
          </div>
          <div class="cart-item-details">
            <h4>{{ item.productName }}</h4>
            <p>{{ item.category }}</p>
            <p>{{ item.description }}</p>
            <p> QTY:{{item.qty}}</p>
           

            <p>Price: {{ item.price | currency :"INR" }}  
             </p>  <p>Total Price: {{ item.totalprice*item.qty | currency :"INR" }}  
             </p>
             <p>inclusive of all taxes</p>
          </div>
        </div>

        <div class="example-button-row mt-5">
          <a mat-raised-button (click)="decrease(item)" class="button">-</a>
          <input type="text" class="count" [(ngModel)]="item.qty">
          <a mat-raised-button (click)="increase(item)" class="button">+</a>
        </div>
        
        
       
    
       
        <mat-card-actions class="mt-2">
          <button mat-raised-button color="warn" (click)="placeOrder(item)" routerLink="/order" >Buy Now</button>
          <a mat-raised-button color="warn" (click)="remove(item)" class="mx-2" >Remove </a>
          <a mat-raised-button color="warn" routerLink="/" class="mx-2" >See More </a>
        </mat-card-actions>
        <mat-divider></mat-divider>
        
      </ng-container>
    </mat-card-content>
   
  </mat-card> -->
























  <hr>
  <div class="container container-with-space">
    <div class="row">
      <div class="col-md-8  content">
        <div class="customer address">
          <p class="fw-bold" >Select Delivery Address </p>
          <p class="default">DEFAULT ADDRESS</p>
         
        </div>
        <div class="customer mt-1 shadow-sm p-3 mb-5 bg-body-white rounded">
          <mat-radio-group class="side-by-side">
            <mat-radio-button class="example-margin" value="after"></mat-radio-button>
            <p class="fw-bold">{{username | titlecase}}</p>
          </mat-radio-group>
          
          <p class="ms-5" >{{address}}</p>
          <p class="ms-5" >Mobile: {{mobileNo}}</p>
          <p class="ms-5"><li>Pay On Delivery available</li></p>
          <div class="container mt-3">
            <button class="ms-4"  mat-raised-button>Remove</button>

          
            <div >
             
            </div>
          </div>
        </div>
        
        <div class="product-details my-2" >
          <div class="img ">
         
  
  
  
            <img src="#" class="img-thumbnail ms-1 mb-3" alt="...">
          </div>
          <div class="product-detail mt-4 ms-3">
            <p class="fw-bold"></p>
            <p></p>
  
          
  
  
  
  
  
        
            <!-- <p>Total Price: {{ item.totalprice*item.qty | currency :"INR" }}</p> -->
          </div>
          <div class="product-detail me-3">
            <span ><i class="bi bi-x"></i></span>
          </div>
        </div>
  
  
  
  
      </div>
      <div class="col-md-4 ">
        <h5 class="mt-3">Coupon</h5>
        <div class="coupon-container">
          <div class="coupon-section">
            <div class="d-flex align-items-center">
              <p class="mt-1">
                <span class="me-3 mt-1"><i class="bi bi-tag mt-3"></i></span>
  
              </p>
              <p>Apply Coupon</p>
            </div>
          </div>
          <div class="apply-btn">
            <button type="submit" class="btn ">APPLY</button>
          </div>
        </div>
        <hr>
        <div class="price-details">
          <p class="fw-bold">PRICE DETAILS(1 item)</p>
         
  
  
        </div>
        <button type="submit" id="btn" >PLACE ORDER</button>
      </div>
  
  
    </div>
  </div>