@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }



img{
    height: 30vh;
}

button{
    width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
/* .card-stepper{
  top: -10rem;
} */
.modal{
  height: 70vh;
}
.modal-body{
  
  height: 70vh;
}