


<div class="sidebar"  [ngClass]="{'active': isSidebarActive}">
  <h2 (click)="toggleSidebar()">Sidebar</h2>
  <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
  </ul>
</div>










<div class="content">

  <h3>Dashboard</h3>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-2 customer ">
        <h2 class="text-center mt-4">{{counter}} k</h2>
      
       <p class=" customer text-center" routerLink="/customer">Customers</p>
      </div>
      <div class="col-md-2 product">
        <h2 class="text-center mt-4">{{products}} k</h2>
        <p class="text-center">Products</p>
      </div>
      <div class="col-md-2 orders">
        <h2 class="text-center mt-4">0 k</h2>
        <p class="text-center">Orders</p>
      </div>
      <div class="col-md-2 income">
        <h2 class="text-center mt-4">0 k</h2>
        <p class="text-center">Income</p>
      </div>
    </div>
    
<div class="container mt-5">
  <h2>All Products</h2>
  <div class="row mt-5">
    <div class="col-md-10">
      <table class="table table-hover">
        <thead>
          <tr class="table-primary text-center">
            <th scope="col"> Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Remove </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of item">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.productName }}</td>
            <td>{{ item.price | currency:"INR" }}</td>
            <td>{{ item.category }}</td>
            <td (click)="removeProduct(item.id)" class="bi bi-trash"></td>
          </tr>
          
         
        </tbody>
      </table>
      
    </div>
  </div>
</div>
  </div>
  
</div>


<!-- Page content -->





<!-- All Products -->














<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-2 customer ">
      <h2 class="text-center mt-4">{{counter}} k</h2>
    
     <p class="text-center">Customers</p>
    </div>
    <div class="col-md-2 product">
      <h2 class="text-center mt-4">{{products}} k</h2>
      <p class="text-center">Products</p>
    </div>
    <div class="col-md-2 orders">
      <h2 class="text-center mt-4">0 k</h2>
      <p class="text-center">Orders</p>
    </div>
    <div class="col-md-2 income">
      <h2 class="text-center mt-4">0 k</h2>
      <p class="text-center">Income</p>
    </div>
  </div>
</div> -->

