


<div class="sidebar"  [ngClass]="{'active': isSidebarActive}">
  <h2 (click)="toggleSidebar()">Sidebar</h2>
  <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
  </ul>
</div>


<div class="content">

  <h3>Dashboard</h3>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-2 customer ">
        <h2 class="text-center mt-4">{{counter}} k</h2>
      
       <p class="text-center">Customers</p>
      </div>
      <div class="col-md-2 product">
        <h2 class="text-center mt-4">{{products}} k</h2>
        <p class="text-center">Products</p>
      </div>
      <div class="col-md-2 orders">
        <h2 class="text-center mt-4">0 k</h2>
        <p class="text-center">Orders</p>
      </div>
      <div class="col-md-2 income">
        <h2 class="text-center mt-4">0 k</h2>
        <p class="text-center">Income</p>
      </div>
    </div>
  </div>
</div>


<!-- Page content -->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

















<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-2 customer ">
      <h2 class="text-center mt-4">{{counter}} k</h2>
    
     <p class="text-center">Customers</p>
    </div>
    <div class="col-md-2 product">
      <h2 class="text-center mt-4">{{products}} k</h2>
      <p class="text-center">Products</p>
    </div>
    <div class="col-md-2 orders">
      <h2 class="text-center mt-4">0 k</h2>
      <p class="text-center">Orders</p>
    </div>
    <div class="col-md-2 income">
      <h2 class="text-center mt-4">0 k</h2>
      <p class="text-center">Income</p>
    </div>
  </div>
</div> -->

