img {
 
    transition: transform 0.2s;
  }
  
  img:hover {
    transform: scale(1.1); 
    cursor: zoom-in;
  }
.card-img-top{
  height: 40vh;
  width: 17rem;
}


span i {
    font-size: 1.5rem;
    border-radius: 50%;
    background-color:grey;
    padding: 5px;
    color: white; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem; 
    height: 1.5rem; 
  }
  
 
  span i::before {
    
    font-weight: bold;
  }
  