<!-- 
<div class="container-fluid mt-5">
 
    <div class="row mt-3">
        <div *ngFor="let x of ethentic" class="col-md-2 mb-4">

            <mat-card class="example-card">

                <img class="pimage" mat-card-image src="{{x.image}}" alt="Product Image">
                <mat-card-content>
                    <p>{{x.productName}} </p>
                    <p>{{x.price | currency:"INR"}} </p>

                    <app-rating [rate]="x.rating"></app-rating>

                    <button  mat-raised-button color="primary" (click)="addToCart(x)">Add To Cart</button>


                </mat-card-content>
            </mat-card>



        </div>
    </div>
</div>  -->







<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 ">


        </div>
    </div> -->




    <!-- <div class="row">
        <h3 class="mt-5 ">FILTERS</h3>
        <div id="filters" class="col-md-2 mt-2">
            <div class="form-check mt-3 ms-3">
                <input class="form-check-input     " type="radio" name="flexRadioDefault" id="men">
                <label class="form-check-label  fw-bold " for="men">
                    Mens
                </label><br>
                <input class="form-check-input " type="radio" name="flexRadioDefault" id="women">
                <label class="form-check-label fw-bold " for="women">
                    Women
                </label><br>
                <input class="form-check-input " type="radio" name="flexRadioDefault" id="boys">
                <label class="form-check-label  fw-bold " for="boys">
                    Boys
                </label><br>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="girls">
                <label class="form-check-label fw-bold " for="girls">
                    Girls
                </label>
            </div>
            <hr>
            <h3 class="#">CATEGORIES</h3>
            <div class="form-check ms-3">
                <input class="form-check-input" type="checkbox" value="" id="ethentic">
                <label class="form-check-label" for="ethentic">
                    Ethentic 
                </label><br>
                 <input class="form-check-input" type="checkbox" value="" id="casual">
                <label class="form-check-label" for="Casual">
                   Casual
                </label>
            </div>
        </div>
        <div class="col-md-9 mt-3">

            <div class="row">
                <div class="col-md-3 mt-3 " *ngFor="let x of ethentic" [routerLink]="['/Product', x.id]">
                    <div class="card-fluid">
                        <img src="{{x.image}}" class="card-img-top ">
                        <div class="card-body">
                            <h5 class="card-title">{{x.productName}}</h5>
                            <p class="desc">{{x.description}}</p>
                            <p class="fw-bold">{{x.price | currency:"INR"}}</p>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



 <div class="container-fluid">
        <h5 class="mt-3">Appariel: {{counter}} items</h5>
        <div class="row mt-4">
            <div class="col-md-3 mt-3" *ngFor="let x of ethentic"  [routerLink]="['/Product', x.id]">
                <div class="card-fluid shadow-sm p-3 mb-5 bg-body rounded">
                    <img src="{{x.image}}" class="card-img-top   ">
                    <div class="card-body">
                        <h5 class="card-title mt-1">{{x.productName}}</h5>
                        <p class="desc">{{x.description}}</p>
                        <p class="fw-bold">Rs.{{x.price}}</p>

                      

                    </div>
                </div>
            </div>
        </div>
    </div> 