img{
    height:40vh;
    width: 20rem;

}
.form-check-label{
    font-size: 14px;
}
/* .form-check{
    border: 0.1px solid rgb(219, 217, 217);
    height: 17vh;
} */
h3{
    font-size: 16px;
    font-weight: bold;
}
.col-md-2{
    border: 0.1px solid rgb(219, 217, 217);
}