/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  img{
    width: 15rem;
    margin-top: 5rem;
    height: 10vh;
  }

  /* Container Styles */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Profile Card Styles */
  .profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .profile-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-card p {
    font-size: 16px;
  }
  
  /* Profile Image Styles */
  .img-thumbnail {
    max-width: 100%;
    height: auto;
    border: none;
  }
  
  /* Edit Profile Button Styles */
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Mat Card Styles */
  .example-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  }
  
  .example-header-image {
    width: 80px;
    height: 80px;
    /* background-image: url('your-image-url-here'); */
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  button{
    left: 7rem;
    width: 10rem;
  }
  