<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <!-- Profile Data -->
      <h3>Account</h3>
      <p>{{ acc }}</p>
      
      <mat-card class="example-card mt-5">
        <mat-card-header *ngFor="let x of profiledata">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="mt-3">Name: {{ x.firstName }} {{ x.lastName }}</mat-card-title>
          <mat-card-subtitle class="mt-3">Email Id: {{ x.email }}</mat-card-subtitle>
          <mat-card-subtitle class="mt-3">Mobile Number: +91{{ x.mobileNumber }}</mat-card-subtitle>
          <mat-card-subtitle class="mt-3">Address Line 1: {{ x.address1 }}</mat-card-subtitle>
          <mat-card-subtitle class="mt-3">Address Line 2: {{ x.address2 }}</mat-card-subtitle>
          <mat-card-subtitle class="mt-3">City: {{ x.city }}</mat-card-subtitle>
          <mat-card-subtitle class="mt-3">State: {{ x.state }}</mat-card-subtitle>
        </mat-card-header>
        <button mat-raised-button color="warn" class="mt-3"  routerLink="/editprofile">Edit Profile</button>
      </mat-card>
      
    </div>
    <div class="col-md-4" *ngFor="let x of profiledata">
      <!-- Profile Image -->
      <img src="{{x.image}}"
        class="img-thumbnail " alt="Profile Image">
    </div>
  </div>
</div>
