/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap-icons/font/bootstrap-icons.min.css';
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */


:root {
    --scroll-behavior: smooth;
  }
  
  body {
    scroll-behavior: var(--scroll-behavior);
  }
  