<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form class="example-form mt-4 p-4" (ngSubmit)="formsubmit(profileForm.value)" [formGroup]="profileForm">
                <h2 class="text-center mb-4">Edit Your Myntra Profile</h2>
                
                <!-- Myntra Logo -->
                <div class="text-center">
                    <img src="https://entrackr.com/storage/2021/01/myntra-1-800x400.jpg" alt="Myntra Logo" style="width: 100px;">
                </div>

                <!-- Myntra Banner (you can use an image or customize it as needed) -->
              
                
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" id="firstName" class="form-control" formControlName="firstName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" class="form-control" formControlName="lastName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="mobileNumber">Mobile Number</label>
                            <input type="text" id="mobileNumber" class="form-control" formControlName="mobileNumber">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email Id</label>
                            <input type="email" id="email" class="form-control" formControlName="email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address1">Address</label>
                    <textarea id="address1" class="form-control" formControlName="address1" placeholder="Ex. 100 Main St"></textarea>
                </div>
                <div class="form-group">
                    <label for="address2">Address 2</label>
                    <textarea id="address2" class="form-control" formControlName="address2"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" id="city" class="form-control" formControlName="city" placeholder="Ex. San Francisco">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" id="state" class="form-control" formControlName="state" placeholder="Ex. California">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="productImage">Profile Image</label>
                    <input type="file" id="productImage" class="form-control" formControlName="image" accept="image/*" required="image">
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-4">Save Changes</button>
            </form>
        </div>
    </div>
</div>
